# Clase 7 - Ejercitación segunda parte (funciones y listas)

---

# Funciones

Diseñar una función que reciba dos números enteros como parámetros enteros A y B, y permita obtener A elevado a la B.

Diseñar una función para mostrar un título filas de numerales, la longitud de la fila de numerales y el texto del título se recibe como parámetro. 

Ejemplo: titulo(“Ejercicio 3”, 15) muestra:

###############

Ejercicio 3

###############

Una calculadora tiene cuatro operaciones básicas (a saber: sumar, restar,
multiplicar, dividir). 

Desarrolle una función para realizar cada operación, que reciba como parámetros dos números ingresados por el usuario y devuelva el resultado de la operación.

Desarrollar un programa principal con un menú que permita realizar una operación y posea una opción para Salir. 

Luego de cada operación realizada se debe volver a presentar el menú.

Escriba una funcion que devuelva un numero entero al azar entre 1 y 20

In [ ]:
from random import random
print(random())



---

# Listas

Escribir una función para crear una lista con N números al azar en un rango de valores que se recibe por parámetro. 

La función devuelve la lista cargada (o vacía si el rango indicado no es válido).

Desarrollar un algoritmo que permita al usuario ingresar 5 números cualesquiera a la lista A y otros 5 números a la lista B. 

Crear y mostrar una lista C, donde cada posición es el resultado de la suma del número en la misma posición en la lista A con el número en la misma posición en la lista B. 

Ejemplo: Se crea A = [1, 2, 3, 4, 5] y B = [4, 7, 1, 3, 6] → C = [5, 9, 4, 7, 11]

Escribir una función para devolver la posición que ocupa un valor pasado como parámetro, utilizando **búsqueda secuencial** en una lista desordenada. La función debe devolver -1 si el elemento no se encuentra en la lista.

Crear una lista con numeros enteros y ordenarla en forma ascendente utilizando el método **Bubble sort**.

Dada la siguiente lista, escriba una función que la reciba como parámetro y devuelva el **menor** y el **mayor** valor de la misma.

¿Es necesario ordenarla?

In [ ]:
lista = [4, 3, 10, 12, 2, 15, 1, 7]



---